.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.ml-auto {
    margin-left: auto;
}

.loader {
   text-align: center;
   margin-top: auto;

   svg {
    margin-top: -2rem;
   }
}

.list-hours {
    position: relative;
    padding: 1rem;
    margin: 0.5rem;
    border: 0.25rem solid $base-color;
    border-radius: 0.5rem;

    @include media-breakpoint-up(lg) {
        padding: 2rem;
    }

    &__day {
        width: 100%;
        @include media-breakpoint-up(lg) {
            width: auto;
        }
    }

    &-item {
        border-bottom: 1px solid $base-color;
        padding-bottom: 0.25rem;
        margin-bottom: 1rem;
        font-style: italic;
        flex-wrap: wrap;
    }

    .ml-auto {
        margin-left: 0;

        @include media-breakpoint-up(lg) {
            margin-left: auto;
        }
    }
}

